
*.cache
*.json
*.props
*.props
*.cache
*.txt
*.cache
*.pdb
*.dll
*.pdb
*.txt
*.dll
*.pdb
.vs/ProyectoFinal/v16/.suo
*.json
*.dll
*.exe
*.pdb
*.dll
*.pdb
*.dll
*.pdb
*.cache
*.txt
*.cache
*.dll
*.exe
*.pdb
.vs/ProyectoFinal/v16/.suo
ProyectoFinal.API/obj/Debug/netcoreapp3.1/ProyectoFinal.API.pdb
ProyectoFinal.API/obj/Debug/netcoreapp3.1/ProyectoFinal.API.dll
ProyectoFinal.API/obj/Debug/netcoreapp3.1/ProyectoFinal.API.csprojAssemblyReference.cache
ProyectoFinal.API/bin/Debug/netcoreapp3.1/ProyectoFinal.API.pdb
ProyectoFinal.API/bin/Debug/netcoreapp3.1/ProyectoFinal.API.dll
ProyectoFinal.API/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
.vs/ProyectoFinal/v16/.suo
