
*.cache
*.json
*.props
*.props
*.cache
*.txt
*.cache
*.pdb
*.dll
*.pdb
*.txt
*.dll
*.pdb
.vs/ProyectoFinal/v16/.suo
*.json
*.dll
*.exe
*.pdb
*.dll
*.pdb
*.dll
*.pdb
*.cache
*.txt
*.cache
*.dll
*.exe
*.pdb
.vs/ProyectoFinal/v16/.suo
